<header>
    <div class="logo">
        <a href="/">
            <img src="./assets/images/jitter.jpg" alt="Coffee with red eyes looking at laptop" />
            <h2 class="groupname">Game Getters</h2>
        </a>
    </div>
    <div class="searchbar">

        <input class="searchInput" type="text" placeholder="Search for a game..." />
        <input class="searchbtn" type="submit" value="search" />

    </div>
    <div class="toggle"></div>
</header>