<header>
    <div class="logo">
        <a href="/">
            <img src="./assets/images/jitter.jpg" alt="Coffee with red eyes looking at laptop" />
            <h2 class="groupname">Game Getter</h2>
        </a>
    </div>
    <div class="searchbar">
        <form class="form-class">
            <input class="searchInput" for="game-search" type="text" placeholder="Search for a game..." />
            <input class="searchbtn" type="submit" name="game-search" value="search" />
        </form>
    </div>
    <div class="toggle"></div>
</header>