<div class="searchbar">
    <form class="form-class">
        <input class="searchInput searchText" for="game-search" type="text" placeholder="Search for a game..." />
        <input class="searchbtn button" type="submit" name="game-search" value="search" />
    </form>
</div>
