<div class="menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login/Sign Up</a></li>
        <li><a href="/dashboard">My Dashboard</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</div>