<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="contact" href="/" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/contact.css" />
    <title>Contact Jitter Juice Jockeys</title>
</head>

<body>
    <main>
        {{{body}}}
    </main>
    <footer>
        <div class="social">
            <div>
                <h2 class="bolcar">Steven Bolcar</h2>
                <a href="https://github.com/StevenBolc" target="_blank"><img class="steven"
                        src="assets/images/blue-github.png" alt=" blue github logo " /></a>
            </div>
            <div>
                <h2 class="marshall">Kris Marshall</h2>
                <a href="https://github.com/RflctnOfU" target="_blank"><img class="kris"
                        src="assets/images/green-github.png" alt=" green github logo" /></a>
            </div>
            <div>
                <h2 class="vargas">Diego Vargas</h2>
                <a href="https://github.com/dfvargas17" target="_blank"><img class="diego"
                        src="assets/images/red-github.jpg" alt="red github logo" /></a>
            </div>
            <div>
                <h2 class="evans">Tyler Evans</h2>
                <a href="https://github.com/TDEvans97" target="_blank"><img class="tyler"
                        src="assets/images/gold-github.png" alt="gold github logo" /></a>
            </div>
            <div>
                <h2 class="maddox">Zachary Maddox</h2>
                <a href="https://github.com/Zachary-Maddox" target="_blank"><img class="zachary"
                        src="assets/images/purple-github.png" alt="purple github logo" /></a>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>