<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Game Getter</title>
</head>

<body>
    <header>
        <div class="nav">
            <nav id="nav">
                <button type="button" id="home">Home</button>
                <button type="button" id="dashboard">Dashboard</button>
                {{!-- {{#if logged_in}} --}}
                <button type="button" id="logout">Logout</button>
                {{!-- {{else}} --}}
                <button type="button" id="login">Login</button>
                {{!-- {{/if}} --}}
                <h3>Your Dashboard</h3>
            </nav>
        </div>
    </header>

    <main>
        {{{body}}}
    </main>

    {{!-- {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{else}} --}}
    <script src="/js/main.js"></script>
    {{!-- {{/if}} --}}
</body>

</html>