<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Game Getter</title>
</head>

<body>
    <header>
        <div class="nav">
            <nav id="nav">
                <button type="button" id="home">Home</button>
                <button type="button" id="saved">Saved List</button>
                <button type="button" id="login">Login</button>
                <button type="button" id="logout">Logout</button>
            </nav>
        </div>
    </header>

    <main>
        {{{body}}}
    </main>
</body>

</html>