<section class="logoPreview">
    <div>
        <h1 data-text="Game.Getters">Game.Getters</h1>
    </div>
</section>

<div class="d-flex justify-content-center align-content-center flex-direction-column">
    <div class="d-flex">
        <p style="color: white; font-size: 1.5rem;">Thanks for using our App! Please visit our GitHub pages by following
            the links below!!</p>
    </div>

</div>
<div class="d-flex justify-content-center align-content-center flex-direction-column">
    <a href="/" style="font-size: 1.25rem;">Home</a>
</div>