<section class="logoPreview">
    <div>
        <h1 data-text="Game.Getters">Game.Getters</h1>
    </div>
</section>

<section class="container-sm py-3 contactForm">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label text-light">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" />
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label text-light">Detailed Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <a
            href="mailto:z19s96p@aol.com,cc=tylerdevansmusic@gmail.com,
                    steven.bolcar95@gmail.com, rflctnofu@hotmail.com, &bcc=df_vargas09@hotmail.com&subject=Mail from our Website&body=Dear W3docs Team">
            <button> Send Email </button></a>
    </div>
</section>